.faq {
  background-color: #181818;
  padding: 70px 0;
}
.faq .text {
  max-width: 500px;
  padding-right: 50px;
}
@media screen and (max-width: 849px) {
  .faq .text {
    padding-right: 30px;
  }
}
@media screen and (max-width: 553px) {
  .faq .text {
    padding-right: 15px;
  }
}
@media screen and (max-width: 431px) {
  .faq .text {
    padding-right: 5px;
  }
}
.faq .text h3 {
  font-family: "poppinsregular";
  font-size: 41px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #C0C0C0;
  margin-bottom: 50px;
}
@media screen and (max-width: 849px) {
  .faq .text h3 {
    font-size: 30px;
    line-height: 30px;
  }
}
@media screen and (max-width: 553px) {
  .faq .text h3 {
    font-size: 25px;
    line-height: 25px;
  }
}
@media screen and (max-width: 431px) {
  .faq .text h3 {
    font-size: 20px;
    line-height: 20px;
  }
}
.faq .text p {
  font-family: "poppinsregular";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #FFFFFF;
}
@media screen and (max-width: 553px) {
  .faq .text p {
    padding-bottom: 20px;
  }
}
.faq .accordion {
  max-width: 700px;
}
.faq .ui-accordion .ui-accordion-header {
  background: #FFFFFF;
  border: 1px solid #E3E8EF;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  padding: 23px 25px;
  font-family: "poppinsregular";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #202939;
  margin-bottom: 16px;
}
.faq .ui-accordion .ui-accordion-header.ui-state-active {
  margin-bottom: 0px;
  border-radius: 8px 8px 0 0;
}
.faq .ui-accordion .ui-accordion-header.ui-state-active .ui-icon:before {
  transform: rotate(360deg);
}
.faq .ui-accordion .ui-accordion-content {
  margin-bottom: 16px;
  border-radius: 0 0 8px 8px;
  padding: 8px 8px;
}
.faq .ui-accordion .ui-accordion-content .ui-accordion-content-active {
  height: auto;
}
.faq .ui-accordion .ui-icon {
  background-image: none;
  background-position: 0;
  width: 32px;
  height: 48px;
  text-indent: 0px;
  position: absolute;
  right: 25px;
  top: 26px;
}
@media screen and (max-width: 320px) {
  .faq .ui-accordion .ui-icon {
    width: 25px;
    height: 35px;
    right: 10px;
    top: 26px;
  }
}
.faq .ui-accordion .ui-icon:before {
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
  content: "+";
  font-size: 32px;
  display: inline-block;
  transition: 0.5s;
}
@media screen and (max-width: 320px) {
  .faq .ui-accordion .ui-icon:before {
    font-size: 20px;
  }
}

.faq-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
}
@media screen and (max-width: 1215px) {
  .faq-container {
    margin: 0px 10px;
  }
}
@media screen and (max-width: 849px) {
  .faq-container {
    margin: 0px 5px;
  }
}
@media screen and (max-width: 553px) {
  .faq-container {
    margin: 5px 15px;
    padding: 0 15px;
    flex-direction: column;
    text-align: center;
  }
}
@media screen and (max-width: 431px) {
  .faq-container {
    margin: 0px 5px;
  }
}