.clients {
  background-color: #000000;
}
.clients h3 {
  font-family: "poppinsregular";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 42px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 15px;
}
@media screen and (max-width: 849px) {
  .clients h3 {
    font-size: 25px;
  }
}
@media screen and (max-width: 553px) {
  .clients h3 {
    font-size: 15px;
    margin-bottom: 8px;
  }
}
@media screen and (max-width: 431px) {
  .clients h3 {
    font-size: 12px;
    padding-bottom: 5px;
    line-height: 21px;
  }
}
.clients p {
  font-family: "poppinsregular";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #C0C0C0;
  margin-bottom: 42px;
}
@media screen and (max-width: 849px) {
  .clients p {
    font-size: 15px;
  }
}
@media screen and (max-width: 553px) {
  .clients p {
    font-size: 10px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 431px) {
  .clients p {
    font-size: 8px;
    padding-bottom: 6px;
    line-height: 15px;
  }
}
.clients a {
  max-width: 128px;
  display: inline-block;
}
@media screen and (max-width: 849px) {
  .clients a {
    max-width: 90px;
  }
}
@media screen and (max-width: 553px) {
  .clients a {
    max-width: 70px;
  }
}
@media screen and (max-width: 431px) {
  .clients a {
    max-width: 100px;
    margin-bottom: 30px;
  }
}
.clients img {
  width: 100%;
  display: block;
}

.clients-container {
  max-width: 1168px;
  margin: auto;
  padding: 120px 0px 100px;
}
@media screen and (max-width: 431px) {
  .clients-container {
    padding: 30px 0 20px;
  }
}

.icons-clients {
  margin: auto;
  display: flex;
  max-width: 1000px;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 431px) {
  .icons-clients {
    flex-direction: column;
  }
}