$main_font: 'poppinsregular';
$main_color: #000000;

@mixin max-screen($res) {
    @media screen and (max-width: $res) {
        @content;
    }
}

.fixed-location {
    position: absolute;
    right: 40px;
    bottom: 40px;
    display: flex;
    align-items: center;
    list-style: none;

    @include max-screen(849px) {
        right: 30px;
        bottom: 30px;
    }

    @include max-screen(553px) {
        right: 20px;
        bottom: 20px;
    }

    li {
        margin-left: 16px;
        color: #FFFFFF;
        font-family: $main_font;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 12px;
        display: flex;
        align-items: center;

        @include max-screen(849px) {
            margin-left: 8px;
            font-size: 8px;
        }

        &:before {
            content: "";
            display: inline-block;
            background-image: url(../img/icon-1.svg);
            width: 16px;
            height: 16px;
            margin-right: 6px;

            @include max-screen(849px) {
                margin-right: 3px;
            }

            @include max-screen(553px) {
                height: 10px;
                width: 10px;
                background-size: cover;
            }
        }

        &:nth-child(2) {
            &:before {
                background-image: url(../img/icon-2.svg);

                @include max-screen(553px) {
                    height: 10px;
                    width: 10px;
                    background-size: cover;
                }
            }
        }

        &:nth-child(3) {
            &:before {
                background-image: url(../img/icon-3.svg);
                width: 32px;

                @include max-screen(553px) {
                    height: 10px;
                    width: 20px;
                    background-size: cover;
                }
            }
        }

        &:nth-child(4) {
            &:before {
                background-image: url(../img/icon-4.svg);
                width: 10px;

                @include max-screen(553px) {
                    height: 13px;
                    width: 8px;
                    background-size: cover;
                }
            }
        }
    }
}