.cd-header {
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    transition: transform 0.5s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.cd-header.nav-is-visible {
    -webkit-transform: translateY(80px);
    -moz-transform: translateY(80px);
    -ms-transform: translateY(80px);
    -o-transform: translateY(80px);
    transform: translateY(80px);
}

@media only screen and (min-width: 768px) {
    .cd-header.nav-is-visible {
        -webkit-transform: translateY(170px);
        -moz-transform: translateY(170px);
        -ms-transform: translateY(170px);
        -o-transform: translateY(170px);
        transform: translateY(170px);
    }
}

@media only screen and (min-width: 768px) {
    .cd-3d-nav a {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        /* truncate text with ellipsis if too long */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:before {
            top: 4.4em;
            left: 50%;
            right: auto;
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            transform: translateX(-50%);
        }
    }
}

.cd-3d-nav-trigger {
    position: relative;
    float: right;
    height: 45px;
    width: 45px;
    /* replace text with background image */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    color: transparent;
    display: none;

    @include max-screen(553px) {
        display: inline-block;
    }
}

.cd-marker {
    /* line at the bottom of nav selected item */
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 20%;
    background-color: currentColor;
    -webkit-transform-origin: center bottom;
    -moz-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    -o-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-transform: translateZ(0) rotateX(90deg);
    -moz-transform: translateZ(0) rotateX(90deg);
    -ms-transform: translateZ(0) rotateX(90deg);
    -o-transform: translateZ(0) rotateX(90deg);
    transform: translateZ(0) rotateX(90deg);
    -webkit-transition: -webkit-transform 0.5s, left 0.5s, color 0.5s, background-color 0.5s;
    -moz-transition: -moz-transform 0.5s, left 0.5s, color 0.5s, background-color 0.5s;
    transition: transform 0.5s, left 0.5s, color 0.5s, background-color 0.5s;

    &:before {
        /* triangle at the bottom of nav selected item */
        content: '';
        position: absolute;
        bottom: 3px;
        left: 50%;
        right: auto;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        height: 0;
        width: 0;
        border: 10px solid transparent;
        border-bottom-color: inherit;
    }
}

.nav-is-visible .cd-marker {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

/* these are the colors of the markers - line + arrow */
.color-1 {
    color: #9a57bd;
}

.color-2 {
    color: #c96aa4;
}

.color-3 {
    color: #d6915e;
}

.color-4 {
    color: #5397c7;
}

.color-5 {
    color: #77cd91;
}