.tools {
  background-color: #000000;
  min-height: 540px;
  position: relative;
}
@media screen and (max-width: 849px) {
  .tools {
    padding-bottom: 10px;
  }
}
.tools .right-tools {
  width: 50%;
  min-height: 540px;
  right: 0;
  top: 0;
  background-image: url("../img/foto-camera.jpg");
  background-size: cover;
  position: absolute;
}
@media screen and (max-width: 849px) {
  .tools .right-tools {
    position: relative;
    width: 100%;
  }
}
@media screen and (max-width: 553px) {
  .tools .right-tools {
    min-height: 400px;
  }
}
.tools .left-tools {
  max-width: 514px;
}
.tools .left-tools h4 {
  font-family: "poppinsregular";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #C0C0C0;
  margin-bottom: 6px;
}
@media screen and (max-width: 849px) {
  .tools .left-tools h4 {
    font-size: 12px;
  }
}
@media screen and (max-width: 553px) {
  .tools .left-tools h4 {
    font-size: 10px;
  }
}
.tools .left-tools h3 {
  font-family: "poppinsregular";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  color: #FFFFFF;
  margin-bottom: 14px;
}
@media screen and (max-width: 849px) {
  .tools .left-tools h3 {
    font-size: 20px;
  }
}
@media screen and (max-width: 553px) {
  .tools .left-tools h3 {
    font-size: 15px;
  }
}
.tools .left-tools p {
  font-family: "poppinsregular";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  margin-bottom: 20px;
}
@media screen and (max-width: 849px) {
  .tools .left-tools p {
    font-size: 12px;
  }
}
@media screen and (max-width: 553px) {
  .tools .left-tools p {
    font-size: 10px;
  }
}
@media screen and (max-width: 1015px) {
  .tools .left-tools {
    max-width: 400px;
  }
}
.tools .container {
  display: flex;
  align-items: center;
  min-height: 540px;
  max-width: 1200px;
  margin: auto;
}
@media screen and (max-width: 1215px) {
  .tools .container {
    margin: 0px 10px;
  }
}
@media screen and (max-width: 553px) {
  .tools .container {
    min-height: 300px;
  }
}