.what-we-do {
  background-color: #000000;
  padding: 112px 0 100px;
}
@media screen and (max-width: 553px) {
  .what-we-do {
    padding: 40px 0 20px;
  }
}
.what-we-do h3 {
  font-family: "poppinsregular";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 42px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 15px;
}
@media screen and (max-width: 849px) {
  .what-we-do h3 {
    font-size: 25px;
  }
}
@media screen and (max-width: 553px) {
  .what-we-do h3 {
    font-size: 20px;
  }
}
.what-we-do h4 {
  font-family: "poppinsregular";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 30px;
  text-align: center;
  color: #C0C0C0;
  margin-bottom: 42px;
}
@media screen and (max-width: 849px) {
  .what-we-do h4 {
    font-size: 15px;
  }
}
@media screen and (max-width: 553px) {
  .what-we-do h4 {
    font-size: 12px;
  }
}
.what-we-do article {
  max-width: 576px;
  position: relative;
  margin-bottom: 16px;
}
@media screen and (max-width: 1170px) {
  .what-we-do article {
    max-width: 550px;
    padding: 0 10px;
  }
}
@media screen and (max-width: 1110px) {
  .what-we-do article {
    max-width: 500px;
  }
}
@media screen and (max-width: 1015px) {
  .what-we-do article {
    max-width: 450px;
  }
}
@media screen and (max-width: 910px) {
  .what-we-do article {
    min-width: 100%;
  }
}
@media screen and (max-width: 553px) {
  .what-we-do article {
    margin-bottom: 6px;
  }
}
.what-we-do article img {
  width: 100%;
  display: block;
}
.what-we-do article .description {
  position: absolute;
  bottom: 30px;
  left: 30px;
  padding-right: 30px;
}
.what-we-do article .description h4 {
  font-family: "poppinsregular";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 15px;
  text-align: left;
}
@media screen and (max-width: 849px) {
  .what-we-do article .description h4 {
    font-size: 12px;
    line-height: 12px;
  }
}
@media screen and (max-width: 553px) {
  .what-we-do article .description h4 {
    font-size: 10px;
    line-height: 10px;
    margin-bottom: 7px;
  }
}
.what-we-do article .description p {
  font-family: "poppinsregular";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #C0C0C0;
  margin-bottom: 15px;
}
@media screen and (max-width: 849px) {
  .what-we-do article .description p {
    font-size: 12px;
    line-height: 15px;
  }
}
@media screen and (max-width: 553px) {
  .what-we-do article .description p {
    font-size: 10px;
    line-height: 12px;
    margin-bottom: 7px;
  }
}

.what-container {
  max-width: 1168px;
  margin: auto;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}